<h1>Edit This Question</h1>

<%= form_for [current_user, @qns] do |q| %>
  <%= q.label :title %> <br>
  <%= q.text_field :title %>
  <br>
  <%= q.label :questions %> <br>
  <%= q.text_area :questions %>
  <br>

  <%= q.submit "Update" %>
<% end %>
