<!-- show all questions  -->
<% @home.each do |q| %>
<h3> Title: <%= q.title %></h3>
<p> Question: <br><%= q.questions %></p> <br>
<%= q.created_at %> <br>
<%= link_to "Show", user_question_path(q.user_id, q) %>
<hr>
<% end %>

<br>
<br>

<%= link_to "Create New Questions", new_user_question_path(current_user) %>
