<h1>New Questions</h1>

<%= simple_form_for [current_user, @qns] do |q| %>
  <%= q.input :title %>
  <%= q.input :questions %>
  <%= q.button :submit %>
<% end %>

<hr>

<%= link_to "Back", home_path %>
