<h1>Question: <%= @qns.id %></h1>
<h3>Title: <%= @qns.title %></h3>
<p><%= @qns.questions %></p>
<p>Updated at: <%= @qns.updated_at %></p>
<p>User ID: <%= @qns.user_id %></p>
<hr>
<%= link_to "Home", home_path %>
