<h1>Question ID: <%= @qns.id %></h1>
<h3>Title: <%= @qns.title %></h3>
<p><%= @qns.questions %></p>
<p>Updated at: <%= @qns.updated_at %></p>
<p>User ID: <%= @qns.user_id %></p>
<hr>
<% if @comment.present? %>
<h3>Comments for this post</h3>
<p><%= @comment.title %></p>
<hr>
<% end %>
<%= link_to "Add Comments", new_user_question_comment_path(current_user, @qns) %> <br> <br>
<%= link_to "Home", home_path %>
