<!-- display current question -->
<h1>Question ID: <%= @qns.id %></h1>
<h3>Title: <%= @qns.title %></h3>
<p><%= @qns.questions %></p>
<p>Updated at: <%= @qns.updated_at %></p>
<p>Posted by: <%= @qns.user.email %></p>
<% if current_user == @qns.user %>
<%= link_to "Edit Question", edit_user_question_path(current_user, @qns) %>
<% end %>
<hr>

<!-- display all comments for this question -->
<% if @comment.present? %>
  <h3>COMMENTS</h3>
  <% @comment.each do |c| %>
  <h3>Title: <%= c.title %></h3>
  <p><%= c.comments %></p>
  <p>Updated at: <%= c.updated_at %></p>
  <p>Posted by: <%= c.user.email %></p>
  <%= link_to "Edit Comments", edit_user_question_comment_path(current_user, @qns, c) %>
  <%= link_to "Delete", user_question_comment_path(current_user, @qns, c), method: :delete, data: { confirm: "Are You Sure?" } %>
<hr>
  <% end %>
<% end %>

<!-- additional links -->
<%= link_to "Add Comments", new_user_question_comment_path(current_user, @qns) %> <br> <br>
<%= link_to "Home", home_path %>
