<h1>List of Exit Tickets</h1>

<% @ticket.each do |t| %>
  <p>Topic</p><%= t.topic %> <br>
  <p>My instructional team was effective in helping me achieve the learning objectives for this lesson</p><%= t.effective %> <br>
  <p>The lesson agenda was well-organized and sufficient time was given for each activity. </p><%= t.prepare %> <br>
  <p>I feel prepared to continue practicing this skill outside of class.</p><%= t.practice %> <br>
  <p>(Optional) Would you like to elaborate on questions above?</p><%= t.info %> <br>
  <p>What is the most valuable piece of information you learned during today’s lesson?</p><%= t.other %>
  <hr>
<% end %>
