<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user.present? %>
    <h1>Welcome, <%= session[:user_email] %></h1>
    <%= link_to "Sign Out", session_path(current_user), method: :delete, data: { confirmation: "Are You Sure?" } %>
    <%= link_to "My Posts", user_questions_path(current_user) %>
    <%= link_to "Exit Ticket", new_user_ticket_path(current_user) %>
    <%= link_to "All Tickets", user_tickets_path(current_user) %>
    <hr>
    <% else %>
    <h1>Welcome</h1>
    <% end %>

    <h1><%= notice %></h1>
    <%= yield %>
  </body>
</html>
